/* ---cart-item details------- */
Cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: antiquewhite;
    background-color: #ff523b;
    font-weight: normal;
}