/
.body .hot-deals {
  width: 100%;
  display: flex;
  height: 200px;
  margin-top: 8px;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #c0b3c47e;
}
.body .hot-deals div {
  height: auto;
  width: 200px;
  margin: 10px;
  border-radius: 25px;
  background-color: rgb(233, 243, 242);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 .hot-deals .price { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   /* margin-top: 50%; */
}

.body .featured-deals {
  width: 100%;
  display: flex;
  height: 200px;
  margin-top: 8px;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #c0b3c47e;
}
.body .featured-deals div {
  height: auto;
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(75, 160, 149);
  box-shadow: 0 4px 8px 0 rgba(18, 209, 136, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ht-d, .ft-d,.cd{
  text-align: center;
}
   .categories{
    width: 100%;
    display: flex;
    height: 200px;
    margin-top: 8px;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #c0b3c47e;

  }
  .body.categories {
     height: auto;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(3, 31, 27);
    box-shadow: 0 4px 8px 0 rgba(18, 209, 136, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  } 
   .in_div{
     margin-top: 5px;
    padding-top: 5px;;
    background:rgb(75, 160, 149);
    height: 190px;
    width: 190px;
    border: 2px solid red;
    border-radius: 13px;
    box-shadow:0 4px 8px 0 rgba(18, 209, 136, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ;
  }  
   .in_div{
    height: auto;
  width: 200px;
  margin: 10px;
  border-radius: 25px;
  background-color: rgb(75, 160, 149);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  
  