* {
  margin: 0%;
  font-family: sans-serif;
  background: white;
}
h3 {
  text-align: center;
  font-size: 30px;
  margin: 0%;
  padding-top: 10px;
}
h2 {
  text-align: center;
  font-size: 30px;
  margin: 0%;
  padding-top: 10px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px o;
  background: rgb(214, 211, 211);
}
.content {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
  background:  #fba830;
}
.content :hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22) 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(opx, -8px);
}
body .gallery .content img {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-radius: 20px;
}
.pro {
  background: rgb(214, 211, 211);
  padding-top: 3%;
  padding-bottom: 3%;
}
p {
  text-align: center;
  color: rgb(15, 15, 14);
  padding-top: 0 8px;
}
h6 {
  font-size: 26px;
  text-align: center;
  color: #222;
  margin: 0;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
li {
  padding-top: 5px;
}
.fa {
  font-size: 26px;
  transition: 4s;
  margin: 3px;
}
.checked {
  color: chocolate;
}
.fa:hover {
  transform: scale(1.3);
  transition: 6s;
}
button {
  background: white;
  text-align: center;
  font-size: 24px;
  color: white;
  /* width: 100px; */
  /* padding: 15px; */
  border: 0;
  /* outline: none; */
  cursor: pointer;

  width: 100%;
  margin-top: 5px;
  /* border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; */
}
.buy-1 {
  background: rgb(253, 55, 5);
}
.buy-2 {
  background: rgb(253, 55, 5);
}
.buy-3 {
  background: rgb(253, 55, 5);
}
.buy-4 {
  background: rgb(253, 55, 5);
}
