* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edf1f4;
}

.head {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #cad6e2;
}

.head .company-logo {
  width: 33%;
  padding: 10px;
}
.head .links {
  width: 40%;
}

.head a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  margin-top: 6px;
  text-decoration: none;
  font-size: 17px;
}

.head a:hover {
  background-color: #ddd;
  color: black;
}

.head a.active {
  background-color: #6d6e6f;
  color: white;
}
.head .search-container {
  width: 33.33%;
}
.head .search-container form {
  display: block;
}
.head input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  width: 85%;
  font-size: 17px;
  border: none;
}
.head .search-container button {
  float: none;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.head .links .login {
  border: none;
  margin-top: 12px;
  margin-left: 15px;
  font-size: 17px;
  cursor: pointer; /* Set cursor to pointer */
  padding: 10px 14px;
  font-size: medium;
  background: #ddd;
  text-align: center;
  border-radius: 8px; /* Set border radius */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Set display to inline-block */
  transition: #ddd 0.3s ease; /* Add transition */
}
.head .links .login:hover:not(.clicked) {
  background-color: #c8c4c4; /* Change background color on hover */
  animation: pulse 0.5s infinite alternate; /* Add animation */
}

@keyframes pulse {
  from {
    transform: scale(1); /* Starting size */
  }
  to {
    transform: scale(1.1); /* Ending size */
  }
}

.head .links .login.clicked {
  animation: none; /* Disable animation when button is clicked */
}
.body {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 3px;
  flex-direction: column;
  background-color: #b5daff;
}
.body .carousel {
  width: auto;
  height: 300px;
  padding-top: 5px;
  border: 1px solid #aaa;
  background-color: #c5bcbc;
}

.ht-d {
  font-size: 25px;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
}

.ft-d {
  font-size: 25px;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
}

.body .hot-deals {
  width: 100%;
  display: flex;
  height: 200px;
  margin-top: 8px;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: aquamarine;
}
.body .hot-deals div {
  height: auto;
  width: 200px;
  margin: 10px;
  border-radius: 25px;
  background-color: azure;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.body .featured-deals {
  width: 100%;
  display: flex;
  height: 200px;
  margin-top: 8px;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(95, 117, 109);
}
.body .featured-deals div {
  height: auto;
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  background-color: azure;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 3px;
  flex-direction: column;
  background-color: #b5daff;
}

.footer {
  display: flex;
}
footer .contact-us {
  width: 50%;
  height: 300px;
  padding-left: 10px;
}

footer .about-us {
  width: 50%;
  padding-left: 10px;
  border-right: 1px solid black;
}
