/**Default Styling **/
* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f5f5;
}
/** Header Styling**/

.head {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fbc678;
}
/** Company Logo Design **/
.head .company-logo {
  width: 33%;
  padding: 10px;
}
/** Header link Container **/
.head .links {
  width: 40%;
}
/** Header Anchor tag **/
.head a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 6px;
  text-decoration: none;
  font-size: 17px;
}
/** Header anchor tag on hover **/
.head a:hover {
  background-color: #fba830;
  border-radius: 8px;
  color: black;
}
/** Header Anchor tag on active **/
.head a:active {
  border-radius: 8px;
  background-color: #fba830;
  color: orange;
}
/** Header Search Bar**/
.head .search-container {
  width: 33.33%;
}
/** Header Search Container  **/
.head .search-container form {
  display: block;
}
/** Header Search input field**/
.head input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  width: 85%;
  font-size: 17px;
  background-color: #fbecd5;
  border: none;
}
/** Search Button**/
.head .search-container button {
  float: none;
  padding: 10px 14px;
  margin-top: 8px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 8px;
  background: #fba830;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
/** Login Button **/
.head .links .login {
  border: none;
  margin-top: 12px;
  margin-left: 15px;
  font-size: 17px;
  cursor: pointer; /* Set cursor to pointer */
  padding: 10px 14px;
  font-size: medium;
  background: #fba830;
  text-align: center;
  border-radius: 8px; /* Set border radius */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Set display to inline-block */
}

/** Login Button disable animation **/
.head .links .login.clicked {
  animation: none; /* Disable animation when button is clicked */
}
/** Body section**/
.body {
  width: 100%;
  height: auto;
  display: flex;
  /* background-color: #ffd79a; */
  flex-direction: column;
}
/** Carousel Section**/
.body .carousel {
  height: 400px;
  padding-top: 0x;
  border: 1px #aaa;
  background-color: white;
}
/** Hot Deals title**/
.ht-d {
  font-size: 25px;
  padding-top: 5rem;
  padding-bottom: 2rem;
  font-weight: bold;
  text-align: center;
}
/** Featured Deals title**/
.ft-d {
  font-size: 25px;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
  text-align: center;
}
/** Hot Deals body**/
.body .hot-deals {
  display: flex;
  height: 225px;
  text-align: center;
  flex-direction: row;
  margin: 8px 32px 0px 32px;
  justify-content: space-evenly;
}
/** Featured Deals Section**/
.body .hot-deals .card {
  width: 40%;
  transition: 0.3s;
  margin-left: 15px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.body .hot-deals .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.body .hot-deals .container {
  padding: 2px 16px;
}
/** Featured Deals body **/
.body .featured-deals {
  display: flex;
  height: 225px;
  margin: 8px 32px 0px 32px;
  justify-content: space-evenly;
  /* background-color: transparent; */
}
/** Featured Deals Section**/
.body .featured-deals .card {
  width: 50%;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.body .featured-deals .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.body .featured-deals .card .container {
  padding: 2px 16px;
  padding-bottom: 10px;
  text-align: center;
}

.body .cat-d {
  font-size: 25px;
  padding-top: 5rem;
  padding-bottom: 2rem;
  font-weight: bold;
  text-align: center;
}

.body .categories {
  display: flex;
  margin: 0px 20px;
  padding: 10px 0px;
  justify-content: space-evenly;
}

.body .categories .card {
  margin-left: 20px;
  cursor: pointer;
}

.body .categories .card p {
  font-weight: 600;
  font-family: arial;
  text-align: center;
}

.contact_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact_container .head1 {
  width: 100%;
  height: 250px;
  display: flex;
  color: white;
  font-size: 60px;
  line-height: 50px;
  text-align: center;
  font-family: Times New Roman;
  align-items: center;
  background: #fba830;
  justify-content: center;
}

.contact_container fieldset {
  width: 38%;
  padding: 20px;
  display: flex;
  margin: 5% 0;
  background: #ffd79a;
  align-items: center;
  border: 1px solid white;
  flex-direction: column;
  box-shadow: 1px 1px 10px 10px #cccbcb53;
}

.contact_container fieldset .heading {
  font-size: 30px;
  font-weight: 600;
  padding: 5px 17px;
  font-family: Arial;
  align-self: baseline;
  text-transform: capitalize;
}

.contact_container .form {
  padding: 10px 0px;
}

.contact_container .form .input::placeholder {
  color: black !important;
}

.contact_container .form input,
.contact_container .form textarea {
  padding: 5px;
  color: black;
  font-size: 15px;
  font-family: arial;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.contact_container .btn {
  text-align: center;
}

.contact_container button {
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid gray;
}

footer {
  height: auto;
  display: flex;
  flex-direction: column;
}
/** Footer Body**/
.footer {
  display: flex;
  flex-direction: row;
  background-color: #fcae39;

  /* box-shadow: 1px 1px 10px 10px #cccbcb53; */
}
/** Footer Section 1**/
footer .f-s1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 50%;
  /* height: 200px; */
  padding-left: 10px;
}
/** Footer Section 2**/
footer .f-s2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 50%;
  height: 220px;
  padding-left: 10px;
  /* border-left: 1px solid white; */
}
.footer .f-s1 .shop {
  display: flex;
  flex-direction: column;
}
.footer .f-s1 .about {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 0px;
}
.footer .f-s1 .help {
  display: flex;
  flex-direction: column;
}
.footer .f-s1 .shop .title {
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  color: white;
  padding-top: 10px;
  padding-bottom: 4px;
}
.footer .f-s1 .help .title {
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 4px;
}
.footer .f-s1 .about .title {
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding-top: 10px;
  margin-left: 10px;
  padding-bottom: 4px;
}
.footer .f-s1 a {
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: white;
  text-decoration: none;
  padding-left: 10px;
}
.f-s2 .subscribe p {
  font-size: medium;
  color: #fff;
  padding-bottom: 10px;
  margin-left: 2px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.f-s2 .subscribe input[type="text"] {
  background-color: #ffd79a;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #ffa41b;
}
.f-s2 .subscribe button {
  background-color: #ffa41b;
  padding: 10px 20px;
  border-radius: 20px;
}
/* Footer Section 2 footer .f-s2 .f-s2 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer .f-s1 .f-s1 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
} */
